# ignore geth’s IPC socket
fed-learn-block/geth-data/geth.ipc
fed-learn-block/geth-data/geth.ipc
fed-learn-block/privatechain/node1/geth.ipc
fed-learn-block/privatechain/node1/geth/geth.ipc
fed-learn-block/privatechain/node2/geth.ipc
fed-learn-block/venv/bin/python
fed-learn-block/venv/bin/python3
fed-learn-block/venv/bin/python3.12
fed-learn-block/venv/lib64
